<app-header title="Foods"></app-header>
<ion-content [fullscreen]="true">
  
  <ion-searchbar [(ngModel)]="query" (search)="findByQuery()"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" *ngFor="let food of foods">
        <app-food-item [data]="food" [routerLink]="['/food/detail']" [state]="food"></app-food-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData()">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
